@import url("https://fonts.googleapis.com/css2?family=Hind&family=Mochiy+Pop+One&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: hsl(33, 100%, 92%);
  font-family: "Hind", sans-serif;
}

/* HEADER */
#header {
  margin: 2rem 0 1rem 0;
  text-shadow: 2px 2px #111;
}

#header-section {
  background-color: hsl(33, 100%, 62%);
  color: white;
  padding: 1rem;
}

#header-title {
  display: flex;
  flex-direction: row;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

#header-dice {
  padding: 0.5rem 0 0 0.5rem;
  margin-top: 1rem;
  width: 60px;
}

#sub-heading {
  color: white;
  font-style: italic;
  margin: 0;
  padding: 0.25rem;
}

/* NAV BAR */

#nav-bar {
  background-color: hsl(33, 100%, 62%);
  padding: 1rem;
}

.navbar-link {
  color: white;
  padding: 0 1rem;
  text-decoration: none;
  text-shadow: 1px 1px #111;
}

/* HOMEPAGE */

#homepage-intro {
  background-color: hsl(33, 100%, 92%);
  margin: 1.5rem auto;
  width: 90%;
}

/* REVIEWS */

#reviews-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.review-category-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Hind", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  margin: 0.5rem;
  max-width: 100%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  width: 9.5rem;
  touch-action: manipulation;
}

.review-category-button:after {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.review-category-button:hover:after {
  transform: translate(0, 0);
}

.review-category-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.review-category-button:hover {
  outline: 0;
}

#review-links {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

#review-column-1,
#review-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.review-text {
  margin: 1.5rem auto;
  width: 90%;
}

.review-home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

#all-reviews-li {
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  align-items: center;
  list-style: none;
  margin: 0.5rem 2.5rem 0.5rem 0;
  padding: 0.25rem;
}

#review-author {
  margin-top: 0;
}

#review-body {
  font-style: italic;
  margin-top: 0;
}

#back-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-read-more {
  background-color: #fee6e3;
  height: 36px;
  width: 7rem;
}

#btn-read-more,
.back-button {
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Hind", sans-serif;
  justify-content: center;
  line-height: 24px;
  margin: 0.5rem;
  max-width: 100%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn-read-more:after {
  height: 34px;
}

#btn-read-more:after,
.back-button:after {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  content: "";
  display: block;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.back-button:after {
  height: 28px;
}

#btn-read-more:after {
  transform: translate(8px, 8px);
}

.back-button:after {
  transform: translate(4px, 4px);
}

#btn-read-more:hover:after,
.back-button:hover:after {
  transform: translate(0, 0);
}

#btn-read-more:active,
.back-button:active {
  background-color: #ffdeda;
  outline: 0;
}

#btn-read-more:hover,
.back-button:hover {
  outline: 0;
}

.back-button {
  background-color: hsl(7, 83%, 88%);
  height: 30px;
  width: 3rem;
}

#vote-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#upvote,
#downvote {
  align-items: center;
  background-color: #fff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Hind", sans-serif;
  height: 36px;
  justify-content: center;
  line-height: 24px;
  margin: 0.5rem;
  max-width: 100%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  width: 2.5rem;
  touch-action: manipulation;
}

#upvote:after,
#downvote:after {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  content: "";
  display: block;
  height: 34px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(6px, 6px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

#upvote:hover:after,
#downvote:hover:after {
  transform: translate(0, 0);
}

#upvote:active,
#downvote:active {
  background-color: #ffdeda;
  outline: 0;
}

#upvote:hover,
#downvote:hover {
  outline: 0;
}

/* INDIVIDUAL REVIEWS */

#indiv-review-body {
  font-style: italic;
  margin: 0;
  padding: 0.25rem;
}

#indiv-review-div {
  width: 90%;
  margin: auto;
}

#indiv-review-li {
  list-style: none;
}

hr {
  width: 90%;
  margin: 1.5rem auto;
}

#review-date {
  color: #282c34;
  font-size: 0.9rem;
}

/* REVIEW COMMENTS */

#comments-header {
  margin: 0 auto;
  width: 90%;
}

#comments-div {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments-list {
  margin: 1rem auto 0 auto;
}

#comment-li {
  font-size: 0.9rem;
  list-style: none;
  margin-right: 2.5rem;
  padding: 0.5rem;
}

#comment-body {
  font-style: italic;
  margin: 0.5rem auto;
}

#comment-author,
#comment-date {
  color: #282c34;
  margin: 0.5rem auto;
}

#no-comments {
  padding: 0.5rem;
}

#add-comment-form {
  padding: 1rem auto;
  margin: 0 0 1rem 0;
}

#form-header,
#user-comment {
  margin: 0.5rem;
}

#submit-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#user-comment {
  height: 5rem;
  width: 13rem;
}

#comment-submit-btn {
  cursor: pointer;
  height: 2rem;
}
