.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */
#header {
  margin: 0 0 0.5rem 0;
}

#header-section {
  padding: 1rem;
}

#sub-heading {
  color: #282c34;
  font-style: italic;
  margin: 0;
}

/* NAV BAR */

#nav-bar {
  background-color: bisque;
  padding: 1rem;
}

.navbar-link {
  padding: 0 1rem;
  color: #282c34;
}

/* HOMEPAGE */

#homepage-intro {
  margin: auto;
  width: 90%;
}

.home-category-button {
  padding: 1rem;
  margin: 0.75rem;
}

.home-category-button:hover {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin: 0.75rem;
}

/* REVIEWS */

#reviews-homepage {
  margin: auto;
  width: 100%;
}

#review-links {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.review-text {
  margin: 1rem auto;
  width: 90%;
}

.review-home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

#all-reviews-li {
  border: 1px solid darkgray;
  display: inline-block;
  font-size: 0.9rem;
  list-style: none;
  margin: 0.5rem 2.5rem 0.5rem 0;
  padding: 0.25rem;
}

#review-body {
  font-style: italic;
}

.back-button {
  background-color: bisque;
  border: 1px solid black;
  box-shadow: 2px 2px gray;
  padding: 0.25rem;
  margin: 0 auto 1.5rem auto;
}
